@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.containerLoadSpinner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.containerMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.containerCountry {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 1rem;
  align-items: center;
  justify-content: flex-start; 
  border: 1px solid black;
  width: 60rem;
  height: 4.3rem;
  background-color: #a39c9c;
  cursor: pointer;

  &:hover {
    background-color: #555353;
    transition: .8s;
  }
  .rank{
   position: absolute;
   left: -1.6rem;
  
  }
}

.containerFlag {
  position: absolute; 
  left: 1rem;
  display: flex;
  align-items: center;
  padding: .6rem;

  p {
    padding: .5rem;
    font-size: 15px;
    font-weight: 400;
  }
}



  .goldMedal {
    position: absolute;
    left: 17.4rem;
  }
  .silverMedal {
    position: absolute;
    left: 29.5rem;
  }
  .bronzeMedal {
    position: absolute;
    left: 41.5rem;
  }


.containerTotalMedals {
  position: absolute;
  right: 1rem; 
  display: flex;
  align-items: center;
  padding: 2rem 1.5rem;
 
}
