@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
   font-family: "Rubik", sans-serif;
   font-optical-sizing: auto;
   font-weight: weight;
   font-style: normal;
 }

 .container-LoadSpinner{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
 }

 .container-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

 }



.title{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 margin: 0 auto;
 gap: 1rem;


h1{
  font-weight: 400;
} }

.gold-section{
 display: flex;
 flex-direction: row;
 align-items: center;
}


.container-country{
  display: flex;
  flex-direction: row;
  margin: 1rem;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
width: 60rem;
background-color: #a39c9c;

  .container-flag{
    display: flex;
    padding: 1rem;
      p{
        padding: 1rem;
        font-family: 18px;
        font-weight: 400;
      }
  }
  .container-medal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .cointainer-total_medals{
    padding: 2rem 2.5rem ;
  }
}